<h1>Assistant#index</h1>

<div id="subm-show-content">
  <table class = "w">
    <thead >
      <tr>
        <th>Course</th>
        <th>Student Name</th>
        <th>Assignment</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Submission</th>
      </tr>
    </thead>
  
    <% if (@submissions != nil) %>
        <tr>
           <% @courses.each do |course| %>
           <td id= "course_name_num"><%= course.name + (" ") + course.number.to_s %></td>
        </tr>
            <% @assignments.each do |assignment| %>
             <% assignment.submissions.each do |submission| %>
                <tr>
                  <td id="remove_border_line"></td>
                  <td><%= Student.find_by(id: submission.student_id).first_name %> <%= Student.find_by(id: submission.student_id).last_name %></td>
                  <td><%= assignment.name %></td>
                  <td><%= assignment.due_date %></td>
                  <td id="ontime">Ontime</td>
                  <td><%= link_to submission.name , submission.attachment_url %></td>
                </tr>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
</table>

<p>  
  <%= link_to 'Home', @assistant %>
</p>
</div>
