<div id="main-content">
<p>You are signed in,  <font size="3"><%= @assistant.email %></font>  </p>

<div id="instructor-content" >
    <div id="grid">
      <div class="grid-element"><%=link_to courses_path do %>
        <%= image_tag("Courses.png", class: "png", size: "314x172") %>
      <% end %>
      </div>
      <div class="grid-element"><%=link_to assignments_path do %>
        <%= image_tag("Assignments.png", class: "png", size: "314x172") %>
      <% end %>
      </div>
      <div class="grid-element"><%=link_to submissions_path do %>
        <%= image_tag("Submissions.png", class: "png", size: "314x172") %>
      <% end %>
      </div>
    </div>
</div>

</div>
