<div id="assign-list-content">
  <div style="text-align:center;">
    <h1>Listing Assignments</h1>
  </div>
  
  <% if @isInstructor %>
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-primary col-md-6 col-md-offset-3" data-toggle="collapse" data-target="#assign-create-content">Add an Assignment</button>
      </div>
      <div id="assign-create-content", class= "collapse">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form">
              <%= form_for :assignment, url: assignments_path do |f| %>
               <p>
                  <%= f.label :name %><br>
                  <%= f.text_field :name, id:"name", class: 'form-control' %>
                </p>
                
                <p>
                  <%= f.label :attachment %>
                  <%= f.file_field :attachment, class:"form-control"%>
                </p>
              
                <p>
                  <%= f.label :course_num %><br>
                  <%= f.collection_select :course_num, @courses.select(:number).uniq, :number, :number,{ id:"course_num", prompt: "Select a Course Number", :include_blank => false}, {class: "form-control"} %>
                </p>
              
                <p>
                  <%= f.label :course_year %><br>
                  <%= f.collection_select :course_year, @courses.select(:year).uniq, :year, :year,{ id:"course_year", prompt: "Select the year of the course", :include_blank => false}, {class: "form-control"} %>
                </p>
                
                <p>  
                  <%= f.label :course_session %><br>
                  <%= f.collection_select :course_session, Course.getSessions, :strip, :strip,{ id:"course_session", name:"course_session", prompt: "Select a semester", :include_blank => false}, {class: "form-control"} %>
                </p>
                
                <p>
                  <%= f.label :due_date %><br>
                  <%= datetime_local_field(:assignment, :due_date, id:"due_date", class: 'form-control') %>
                </p>
                
              
              <% if false %>
                we can add a description that the 
                professor wants to specify late.
              
                <p>
                  <%= f.label :text %><br>
                  <%= f.text_area :text %>
                </p>
              <% end %> 
              
                <p>
                  <%= f.submit 'submit', id:"submit",class: "btn btn-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
   
  <table class = "sortable">
    <thead >
      <tr>
        <th>Assignment</th>
        <th>Course</th>
        <th>Due Date</th>
        
        <th>Download Assignment</th>
        
        <% if @isInstructor %>
          <th></th>
        <% end %>
        <% if @isInstructor %>
          <th></th>
        <% end %>
        
        <!--<% if @isInstructor %>-->
        <!--  <th>Actions</th>-->
        <!--<% end %>-->
        
        
        
      </tr>
    </thead>
  
    <% if (@assignments != nil) %>
      <% @assignments.each do |assignment| %>
        <tr onclick="location.href='<%= assignment_path(assignment) %>'">
          <td><%= assignment.name %></td>
          <td><%= assignment.course_num %></td>
          <td><%= DateTime.parse(assignment.due_date).strftime("%a, %m/%d/%Y at %I:%M%p") %></td>
          
          <td style="text-align:center"><%= link_to "Download", assignment.attachment_url %></td>
          
          
          <% if @isInstructor %>
          <td><%= button_to "Edit", edit_assignment_path(assignment), method: :get, class: "btn btn-info", data: {confirm: "Are you sure that you wish to edit #{assignment.name}?"} %></td>
          <td><%= button_to "Delete",  assignment, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{assignment.name}?"} %></td> 
          <% end %>
        </tr>
      <% end %>
    <% else %>
     <% puts 'no assignments' %>
    <% end %>
  </table>
  
  <div style="text-align:center">
    <p>  
    <%= link_to 'Home', root_path %>
  </p>
  </div>

</div>
