<div id="assign-list-content">
  <div style="text-align:center;">
    <h1> <b> Assignments </b> </h1> <br>
  </div>
  
  <% if @isInstructor %>
    <div class="container">
      <div class="row", style="text-align: center;">
        <button type="button" class="btn btn-primary assignButton" data-toggle="collapse" data-target="#assign-create-content">Add an Assignment</button>
      </div>
      <div id="assign-create-content", class= "collapse">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form">
              <%= form_for :assignment, url: assignments_path do |f| %>
               <p>
                  <%= f.label :name %><br>
                  <%= f.text_field :name, id:"name", class: 'form-control', :required => true %>
                </p>
                
                <p>
                  <%= f.label :attachment %>
                  <%= f.file_field :attachment, class:"form-control"%>
                </p>
              
                <p>
                  <%= f.label :course_num %><br>
                  <%= f.collection_select :course_num, @courses.select(:number).distinct, :number, :number,{ id:"course_num", prompt: "Select a Course Number"}, {class: "form-control", :required => true} %>
                </p>
                
                <p>
                  <%= f.label :due_date %><br>
                  <%= datetime_local_field(:assignment, :due_date, id:"due_date", class: 'form-control', :required => true) %>
                </p>
              
                <p>
                  <%= f.submit 'submit', id:"submit",class: "btn btn-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
  
  

   
   
   
  <table class = "sortable">
    <thead >
      <tr>
         <th>Course</th>
        <th>Assignment</th>
        <th>Due Date</th>
        <th>Time Left</th>
        
        <th>Download Instructions</th>
        
        <% if @isInstructor %>
          <th></th>
          <th style="text-align:left"> Action</th>
        <% end %>
      
      </tr>
    </thead>
    
    <% @courses.each do |course| %>
        <tr style="background:#DCDCDC;" >
               <td style="border-color:#000000 #000000; border-width: 1px" id="course_name_num"><%= course.name + (" ") + course.number.to_s %></td>
               <td style="border-color:#000000 #000000; border-width: 1px"></td>
               <td style="border-color:#000000 #000000; border-width: 1px"></td>
                <td style="border-color:#000000 #000000; border-width: 1px"></td>
               <td style="border-color:#000000 #000000; border-width: 1px"></td>
               
                <% if @isInstructor %>
                  <td style="border-color:#000000 #000000; border-width: 1px"></td>
                 <td style="border-color:#000000 #000000; border-width: 1px"></td>
                <% end %>
   
            
        </tr>
     
            <% if (@assignments != nil) %>
            
              <% course.assignments.each do |assignment| %>
                  <tr onclick="location.href='<%= assignment_path(assignment) %>'">
                      <td style="border-color:#000000 #000000; border-width: 1px"></td>
                      <td style="border-color:#000000 #000000; border-width: 1px"><%= assignment.name %></td>
                      
                      <td style="border-color:#000000 #000000; border-width: 1px"><%= DateTime.parse(assignment.due_date).strftime("%a, %m/%d/%Y at %I:%M%p") %></td>
                      <!-- Checks if the time left hasn't passed yet -->
                      <% if  (DateTime.parse(assignment.due_date) - DateTime.current) * 24 * 60 * 60 + 5*3600 > 0  %>
                        <td style="color: green; border-color:#000000 #000000; border-width: 1px"><%= humanize ((DateTime.parse(assignment.due_date) - DateTime.current) * 24 * 60 * 60) + 5*3600 %></td>
                      <% else %>
                        <td style="color: red; border-color:#000000 #000000; border-width: 1px">Submission date passed</td>
                      <% end %>
                      
                      <% if assignment.attachment_url == nil %>
                        <td style="text-align:center; border-color:#000000 #000000; border-width: 1px"> <b>N/A</b> </td>
                      <% else %>
                      
                        <td style="text-align:center; border-color:#000000 #000000; border-width: 1px"><%= link_to "Download", assignment.attachment_url %></td>
                      <% end %>
          
                      <% if @isInstructor %>
                          <td style="border-color:#000000 #000000; border-width: 1px"><%= button_to "Edit", edit_assignment_path(assignment), method: :get, class: "btn btn-info", data: {confirm: "Are you sure that you wish to edit #{assignment.name}?"} %></td>
                          
                          <td style="border-color:#000000 #000000; border-width: 1px; padding-left:10px" ><%= button_to "Delete",  assignment, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{assignment.name}?"} %></td> 
                      <% end %>
                </tr>
              <% end %>
            <% else %>
               <% puts 'no assignments' %>
          <% end %>
        <% end %>
 
    
    
  </table>
  
  <div style="text-align:center">
    <p>  
    <%= link_to 'Home', root_path %>
  </p>
  </div>


