<div id="assign-list-content">
  <h1>Listing Assignments</h1>
  
  <% if @isInstructor %>
    <div class="container">
      <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#assign-create-content">Add an Assignment</button>
      <div id="assign-create-content", class= "collapse">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form">
              <%= form_for :assignment, url: assignments_path do |f| %>
               <p>
                  <%= f.label :name %><br>
                  <%= f.text_field :name, id:"name", class: 'form-control' %>
                </p>
                
                <p>
                  <%= f.label :attachment %>
                  <%= f.file_field :attachment, class:"form-control"%>
                </p>
              
                <p>
                  <%= f.label :course_num %><br>
                  <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
                </p>
              
                <p>
                  <%= f.label :due_date %><br>
                  <%= date_field(:assignment, :due_date, id:"due_date") %>
                </p>
              
              <% if false %>
                we can add a description that the 
                professor wants to specify late.
              
                <p>
                  <%= f.label :text %><br>
                  <%= f.text_area :text %>
                </p>
              <% end %> 
              
                <p>
                  <%= f.submit 'submit', id:"submit",class: "btn btn-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
   
  <table class = "sortable">
    <thead >
      <tr>
        <th>Assignment</th>
        <th>Course</th>
        <th>Due Date</th>
      
        <% if @isInstructor %>
          <th>Actions</th>
        <% end %>
        
        <th>Download Assignment</th>
        
        <% if @isInstructor %>
          <th></th>
        <% end %>
        
        <% if @isStudent %>
          <th> Submit assignment </th>
        <% end %>
        
        
      </tr>
    </thead>
  
    <% if (@assignments != nil) %>
      <% @assignments.each do |assignment| %>
        <tr onclick="location.href='<%= assignment_path(assignment) %>'">
          <td><%= assignment.name %></td>
          <td><%= assignment.course_num %></td>
          <td><%= assignment.due_date %></td>
          <% if @isInstructor %>
            <td style="text-align:center"><%= link_to 'Show', assignment_path(assignment) %> | <%= link_to 'Edit', assignment_path(assignment) %></td>
          <% end %>
          
          <td><%= link_to "Download", assignment.attachment_url %></td>
          
          <% if @isInstructor %>
            <td>
              <%= button_to "Delete",  assignment, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{assignment.name}?" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<p>  
  <%= link_to 'Home', root_path %>
</p>
</div>
