


<div id="assign-create-content">
  <h1> NEW ASSIGNMENT </h1>
  
  <%= form_for :assignment, url: assignments_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, id:"name" %>
    </p>
    
    <p>
       <%= f.label :attachment %>
      <%= f.file_field :attachment%>
    </p>
  
    <p>
      <%= f.label :course_num %><br>
      <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
    </p>
  
    <p>
      <%= f.label :due_date %><br>
      <%= date_field(:assignment, :due_date, id:"due_date") %>
    </p>
  
  <% if false %>
    we can add a description that the 
    professor wants to specify late.
  
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
  <% end %> 
  
  
    <p>
      <%= f.submit 'submit', id:"submit" %>
    </p>
    <p>  <%= link_to 'Home', instructor_path(:index) %> </p>
  <% end %>
  
</div>
