<div id="assign-show-content">
  
  <p>
    <strong>NAME:</strong>
    <%= @assignment.name %>
  </p>
   
  <p>
    <strong>COURSE:</strong>
    <%=  %> <%= @assignment.course_num %>
  </p>
  
  <p>
    <strong>DUE DATE:</strong>
    <%= DateTime.parse(@assignment.due_date).strftime("%a, %m/%d/%Y at %I:%M%p") %>
  </p>
  
  <table class = "w">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Download Submission</th>
        </tr>
      </thead>
     
     <% if @assignment.submissions.size > 0 %>
      <% @assignment.submissions.each do |submission| %>
        <tr>
          <% if submission.student != nil %>
              <td><%= submission.student.first_name %> <%= submission.student.last_name %></td>
              <td><%= submission.student.email %></td>
          <% end %>
              <td></td>
              <td></td>
              <td></td>
        </tr>
        
      <% end %>
    <% end %>
    </table>
  
  <div style="text-align:center;">
    <%= link_to 'Back', assignments_path %> &emsp;
    <%= link_to 'Home', root_path %> &emsp;
    <%= link_to 'Edit', edit_assignment_path(@assignment) %>
  </div>
</div>

