<h2> NEW ROSTER </h2>
<div class="container">
  <div id="roster-create-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <%= form_for :roster, html: { multipart: true }, url: rosters_path do |f| %>
            <p>
            <%= f.label :course_num %>
            <%= f.collection_select :course_num, @courses.select(:number).uniq, :number, :number,{ id:"course_num", prompt: "Select a Course Number"}, {class: "form-control", :required => true} %>
            
            <% if false %> Get course number straight from course page
              <% if params[:course_num] != nil %>
                <%= f.text_field :course_num, value: params[:course_num], id:"course_num", class: 'form-control', disabled: true%>
              <% else %>
                <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
              <% end %>
            <% end %>
            
            </p>
        
            <p>
              <%= f.label :course_year %><br>
              <%= f.collection_select :course_year, @courses.select(:year).uniq, :year, :year,{ id:"course_year", prompt: "Select the year of the course"}, {class: "form-control", :required => true} %>
            </p>
            
            <p>  
              <%= f.label :course_session %><br>
              <%= f.collection_select :course_session, Course.getSessions, :strip, :strip,{ id:"course_session", name:"course_session", prompt: "Select a semester"}, {class: "form-control", :required => true} %>
            </p>
            
            
            <p>
            <%= f.label :attachment %>
            <%= f.file_field :attachment, id:"roster", class: 'form-control', :required => true %>
            </p>
            
            <p>
            <%= f.submit "Import Roster", class: "btn btn-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align:center;">
    <%= link_to 'Back', :back %> &emsp;
    <%= link_to 'Home', root_path %>
  </div>
</div>
