<h2> NEW ROSTER </h2>
<div class="container">
  <div id="roster-create-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <%= form_for :roster, html: { multipart: true }, url: rosters_path do |f| %>
            <p>
            <%= f.label :course_num %>
            <% if params[:course_num] != nil %>
              <%= f.text_field :course_num, value: params[:course_num], id:"course_num", class: 'form-control', disabled: true%>
            <% else %>
              <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
            <% end %>
            </p>
            
            <p>
            <%= f.label :attachment %>
            <%= f.file_field :attachment, id:"roster" %>
            </p>
            
            <p>
            <%= f.submit "Import Roster", class: "btn btn-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align:center;">
    <%= link_to 'Back', :back %> &emsp;
    <%= link_to 'Home', root_path %>
  </div>
</div>
