<h2> ADD A NEW STUDENT HERE </h2>

<div class="container">
    <div class="row>
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :student, url: students_path do |f| %>
          <p>
            <%= f.label :name %>
            <%= f.text_field :name, id:"name", class: 'form-control'%>
          </p>
        
          <p>
            <%= f.label :email %>
            <%= f.text_field :email, id:"email", class: 'form-control'%>
          </p>

          <p>
            <%= f.label :t_number %>
            <%= f.number_field :t_number, id:"number",class: 'form-control'  %>
          </p>
        
          <p>
            <%= f.label :course_num %><br>
            <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
          </p>
 

          <p>
            <%= f.submit 'submit', :id=>"submit", class: "btn btn-primary" %>
          </p>
          
          <p>  
            <%= link_to 'Home', root_path %>
          </p>
        <% end %>
    </div>
  </div>
</div>



