<h1>Viewing Student Submissions</h1>

<% if @is_student%>
  <div id="subm-show-content">
    <table class = "w">
      <thead>
        <tr>
          <th>Course</th>
          <th>Assignment</th>
          <th>Due Date</th>
          <th>Submitted Date</th>
          <th>Status</th>
          <th>Submission</th>
        </tr>
      </thead>
    
      <% if (@submissions != nil) %>
          <tr>
             <% @courses.each do |course| %>
             <td id= "course_name_num"><%= course.name + (" ") + course.number.to_s %></td>
          </tr>
              <% @assignments.each do |assignment| %>
               <% assignment.submissions.each do |submission| %>
                 <% if (submission.student.email == @is_student.email  )%>
                  <tr>
                    <td id="remove_border_line"></td>
                    <td><%= assignment.name %></td>
                    <td><%= Time.parse(assignment.due_date)%></td>
                    <td><%= submission.created_at.localtime %></td>
                    
                     <% if ( submission.created_at.localtime > Time.parse(assignment.due_date) ) %>
                        <td id="not_on_time">Late</td>
                     <% else %>
                        <td id="on_time">On time</td>
                    <% end %>
                    <td><%= link_to submission.name , submission.attachment_url %></td>
                  </tr>
                  <% end %>
                <% end %>
                
                
              <% end %>
          <% end %>
      <% end %>
    </table>
  
    <div style="text-align:center;">  
      <%= link_to 'Back', :back %> &emsp;
      <%= link_to 'Home', root_path %> 
    </div>
  
  </div>
<% end %>

<% if @is_instructor or @is_assistant%>
<div id="subm-show-content">
  <table class = "w">
    <thead >
      <tr>
        <th>Course</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Assignment</th>
        <th>Due Date</th>
        <th>Submitted Date</th>
        <th>Status</th>
        <th>Submission</th>
      </tr>
    </thead>
  
    <% if (@submissions != nil) %>
        <tr>
           <% @courses.each do |course| %>
           
           <td id= "course_name_num"><%= course.name + (" ") + course.number.to_s %></td>
           
           <td id="remove_border_line"></td>
           <td id="remove_border_line"></td>
           <td id="remove_border_line"></td>
           <td id="remove_border_line"></td>
           <td id="remove_border_line"></td>
           <td id="remove_border_line"></td>
        </tr>
     
            <% @assignments.each do |assignment| %>
             <% assignment.submissions.each do |submission| %>
            
                <tr>
                  <td id="remove_border_line"></td>
<<<<<<< HEAD
                  <td><%= submission.student.first_name %> <%= submission.student.last_name %> </td>
=======
                  
                  <td> <%= submission.student.first_name%> <%= submission.student.last_name%></td>
                  
>>>>>>> assignment_time
                  <td><%= submission.student.email %></td>
                  <td><%= assignment.name %></td>
                  <td><%= DateTime.parse(assignment.due_date).strftime("%a, %m/%d/%Y at %I:%M%p")%></td>
                  <td><%= submission.created_at.localtime.strftime("%a, %m/%d/%Y at %I:%M%p") %></td>
    
                   <% if ( submission.created_at.localtime > Time.parse(assignment.due_date) ) %>
                        <td id="not_on_time">Late</td>
                   <% else %>
                      <td id="on_time">On time</td>
                   <% end %>
    
                  <td><%= link_to submission.name , submission.attachment_url %></td>
                 
                </tr>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
</table>

<div style="text-align:center;">  
  <%= link_to 'Back', :back %> &emsp;
  <%= link_to 'Home', root_path %> 
</div>
</div>
<% end %>