<div class="container">
  <h2>Listing Courses</h2>

  <table>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Semester</th>
        <th>Year</th>
        <% if @isInstructor %>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
   
   
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.number %></td>
        <td><%= course.session %></td>
        <td><%= course.year %></td>
        <% if false %>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% end %>
        
        <% if @isInstructor %>
          <td><%= button_to "Delete",  course, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{course.name} #{course.number}?"} %> </td>
        <% end %>
        
        <% if @isStudent %>
          <td>  </td>
        <% end %>
      
      </tr>
    <% end %>
  </table>


  <%= link_to('Home', root_path, :method => :get) %>

<div>

