<div class="container">
  <h2>Listing Courses</h2>

  <table>
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
   
   
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.number %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        
        <% if @isInstructor %>
          <td><%= button_to "Delete",  course, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{course.name}?" %> </td>
        <% end %>
        
        <% if @isStudent %>
          <td>  </td>
        <% end %>
      
      </tr>
    <% end %>
  </table>


  <%= link_to 'Home', root_path %>

<div>

