<div class="course-list-content">
  <div style="text-align:center;">
    <h1>Listing Courses</h1>
  </div>
  
  <% if @isInstructor %>
    <div class="container">
      <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#course-create-content">Add a Course</button>
      <div id="course-create-content", class= "collapse">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form">
              <%= form_for :course, url: courses_path do |f| %>
                <p>
                  <%= f.label :name %>
                  <%= f.text_field :name, id:"name", class: 'form-control'%>
                </p>
              
                <p>
                  <%= f.label :number %>
                  <%= f.number_field :number, id:"number",class: 'form-control'  %>
                </p>
      
                <p>
                  <%= f.label :year %>
                  <%= f.text_field :year, id:"name", class: 'form-control'%>
                </p>
      
                <p>
                  <%= f.label :semester %><br>
                  <%= f.collection_select :session, Course.getSessions, :strip, :strip, id:"session", prompt: true, include_blank: false %>
                </p>
      
                <p>
                  <%= f.submit 'submit', :id=>"submit", class: "btn btn-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  
  <table class = "w" data-link="row">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Number</th>
        <th>Semester</th>
        <th>Year</th>
        <% if @isInstructor %>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>
   
   
    <% @courses.each do |course| %>
      <tr onclick="location.href='<%= course_path(course) %>'">
        <td><%= course.name %></td>
        <td><%= course.number %></td>
        <td><%= course.session %></td>
        <td><%= course.year %></td>
        <% if false %>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% end %>
        
        <% if @isInstructor %>
          <td><%= button_to "Delete",  course, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{course.name}?" %> </td>
        <% end %>
        
        <% if @isStudent %>
          <td>  </td>
        <% end %>
      
      </tr>
    <% end %>
  </table>

<div style="text-align:center;">
    <%= link_to 'Home', root_path %>
</div>

</div>