<p>You are signed in</p>

<h2>Courses</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.number %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
    
    <tr>
      <% course.assignments.each do |assignment| %>
        <tr>
          <td>---</td>
          <td><%= assignment.name %></td>
        </tr>
      <% end %>
    </tr>
  <% end %>
</table>


<div id="content">
    <!--, path-->
    <li><%= link_to "Create a Course", courses_new_path %></li> 
    <li><%= link_to "Create an Assigment", assignments_new_path %></li>
    <li><%= link_to "View Lists of Assignments", assignments_path %></li>
</div>

<%= link_to('Logout', destroy_instructor_session_path, :method => :delete) %>  
