<div id="main-content">
<p>You are signed in</p>

<div id="instructor-content">
    <!--, path-->
    <li><%= link_to "Create a Course", courses_new_path %></li> 
    <li><%= link_to "Create an Assigment", assignments_new_path %></li>
    <li><%= link_to "View Lists of Assignments", assignments_path %></li>
</div>


<h2 align="center">Courses</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tr>
  <% @courses.each do |course| %>
      <td><%= course.name %></td>
      <td><%= course.number %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    <tr>
    </tr>
    <tr>
      <% course.assignments.each do |assignment| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= assignment.name %></td>
          <td><%= assignment.due_date %></td>
        </tr>
      <% end %>
      
    </tr>
    
  <% end %>
  </tr>
</table>


  <div id="logout-button">
   <%= button_to('Logout', destroy_instructor_session_path, :method => :delete) %>  
  </div>

</div>
